$firststep-color:#baccba;
$secondstep-color:#d3e0d3;
$thirdstep-color: #deebde;

$input-color1: #a5b6a5;
 
$searchbar-color: #deebde;

$addbookbutton-color2: rgb(180, 152, 116);
$addbookbutton-color1: rgb(190, 172, 148);

$searchbutton-color: rgb(190, 172, 148);